<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">PLANS BUILT FOR EVERY TEAM. START WITH 30 DAYS FREE.</h4>
</div>
<div class="modal-body">
  <p class="text-center">99 EUR for 30 days unlimited use or 89 EUR per month 12 month ahead</p>

  <div class="prices">
    <div class="pricing">
      <span class="price">&euro; 99 Eu</span>
      <span class="period">Monthly</span>
      <a href="#" ng-click="buyPlan('monthly')" class="btn btn-success btn-try">GET PLAN</a>
    </div>
    <div class="pricing">
      <span class="price">&euro; 89 Eu</span>
      <span class="period">Monthly</span>
      <a href="#" ng-click="buyPlan('yearly')" class="btn btn-success btn-try">GET PLAN</a>
    </div>
  </div>
</div>