<div class="col-md-12 with-margin">
  <div class="prices">
    <div class="pricing" ng-click="selectSubscriptionKind('monthly')" ng-class="{selected:subscription_kind == 'monthly'}">
      <span class="price">&euro; 99 Eu</span>
      <span class="period">Monthly</span>
    </div>
    <div class="pricing" ng-click="selectSubscriptionKind('yearly')" ng-class="{selected:subscription_kind == 'yearly'}">
      <span class="price">&euro; 89 Eu</span>
      <span class="period">Annually</span>
    </div>
  </div>
</div>