<% subdomain = @resource.organization.subdomain %>

<div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333">

  <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333">
    You told us you forgot your password. If you really did, click here to choose a new one:
    <br><br>
    <%= link_to 'Change my password', edit_user_password_url(reset_password_token: @token, subdomain: subdomain, redirect_url: profile_url(subdomain: subdomain)) %>

    <br><br>

    If you didn't mean to reset your password, then you can just ignore this email; your password will not change.
    <br><br>
  </div>

  <br><br>

  <br><br>
</div>
