<form class="form-horizontal" enctype="multipart/form-data" ng-submit="updateAccount(updateAccountForm)" role="form" ng-init="updateAccountForm = user">

  <fieldset>
    <legend>Edit Profile</legend>

    <div class="alert alert-warning animate-show" ng-show="erroOnupdate">
      There was an error when trying to update your account.
      <br>
      {{$scope.msgError}}
    </div>

    <div class="alert alert-success animate-show" ng-show="updateSuccessfully">
      Your account was successfully updated.
    </div>

    <div class="row">
      <div class="col-md-3 text-center upload-picture">
        <img ng-src="{{user.picture}}">
        <div ng-file-select ng-file-change="upload(files)" ng-model="files">Change picture</div>
      </div>

      <div class="col-md-9">
        <div class="form-group">
          <label for="name" class="col-md-2 control-label">Email</label>
          <div class="col-md-9">
            <input type="email" placeholder="Email" ng-model="updateAccountForm.email" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-md-2 control-label">Full name</label>
          <div class="col-md-9">
            <input type="text" placeholder="Full Name"  ng-model="updateAccountForm.name" class="form-control">
          </div>
        </div>

        <div class="form-group" ng-show="user.role == 'admin'">
          <label for="name" class="col-md-2 control-label">Company</label>
          <div class="col-md-9">
            <input type="text" placeholder="Company" ng-model="updateAccountForm.organization_attributes.name" class="form-control">
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="updateAccountForm.newsletter"> Subscribe to newsletter
          </label>
        </div>
      </div>

      <div class="form-group col-md-12 text-right">
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </div>

    </div>
    </div>
  </fieldset>
</form>

<form class="form-horizontal" ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}" name="form_password" >

  <fieldset>
    <legend>Change Password</legend>

    <div class="alert alert-warning animate-show" ng-show="erroOnPassword">
      {{passwordMsgError}}
    </div>

    <div class="alert alert-success animate-show" ng-show="passwordSuccessfully">
      Your password was successfully updated.
    </div>

    <div class="row">
      <div class="form-group has-feedback" ng-class="{'has-success': form_password.password.$valid, 'has-error': (form_password.password.$touched && form_password.password.$invalid)}" >
        <label for="name" class="col-md-2 control-label">Password</label>
        <div class="col-md-9">
          <input type="password" placeholder="Password" ng-model="changePasswordForm.password" class="form-control" required minlength="5" name="password">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{'has-success': form_password.password_confirmation.$valid, 'has-error': (form_password.password_confirmation.$touched && form_password.password_confirmation.$invalid)}">
        <label for="name" class="col-md-2 control-label">Password Confirmation</label>
        <div class="col-md-9">
          <input type="password" placeholder="Password Confirmation"  ng-model="changePasswordForm.password_confirmation" class="form-control" required minlength="5" compare-to="changePasswordForm.password" name="password_confirmation">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-9 text-right">
          <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
      </div>
    </div>

  </fieldset>
</form>
