<div class="pure-g">
    <div class="pure-u-1-5"></div>

    <div class="pure-u-3-5">
      <form class="pure-form pure-form-aligned" ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
        <fieldset>
          <legend>Registration Form</legend>

          <div class="pure-control-group">
            <label for="name">Email</label>
            <input type="email" placeholder="Email" ng-model="registrationForm.email" required>
          </div>

          <div class="pure-control-group">
            <label for="name">Password</label>
            <input type="password" placeholder="Password" ng-model="registrationForm.password" required>
          </div>

          <div class="pure-control-group">
            <label for="name">Password confirmation</label>
            <input type="password" placeholder="Password Confirmation" ng-model="registrationForm.password_confirmation" required>
          </div>

          <div class="pure-control-group">
            <label for="name">Full name</label>
            <input type="text" placeholder="Full Name"  ng-model="registrationForm.name" required>
          </div>

          <div class="pure-control-group">
            <label for="name">Company</label>
            <input type="text" placeholder="Company" ng-model="registrationForm.organization_attributes.name" required>
          </div>

          <div class="pure-controls">
            <label for="remember" class="pure-checkbox">
              <input id="remember" type="checkbox"> Remember me
            </label>

            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
          </div>

        </fieldset>
      </form>
    </div>

    <div class="pure-u-1-5"></div>
</div>