<nav class="navbar navbar-fixed-top navbar-layout">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= image_tag 'logo_color.png'%></a>
    </div>

    <div class="nav navbar-nav navbar-right navbar-links">
      <a href="#">Pricing</a>
      <a href="/signin">Login</a>
      <a href="/signup" class="btn btn-success">Free Trial</a>
    </div>
  </div>
</nav>

<div class="container-fluid leaderboard-container">
  <div class="row">

    <div class="alert alert-warning alert-dismissible alert-cookie" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      We use cookies to ensure that we give you the best experience on our website. If you continue without changing your settings, we'll assume that you are happy to receive all cookies from this website. If you would like to change your preferences you may do so by following the instructions <a href="http://www.aboutcookies.org/Default.aspx?page=1" target="_blank">here</a>
    </div>

    <div class="col-sm-4 col-sm-offset-4">
      <form class="form-horizontal" ng-submit="submitRegistrationForm(registrationForm)" role="form" id="create-trial-form" name="form">
        <div class="alert alert-warning animate-show" ng-show="erroOnLogin">
          {{msgError}}
        </div>

        <fieldset>
          <legend>Let's get started</legend>

          <div class="form-group has-feedback" ng-class="{'has-success': form.email.$valid, 'has-error': (form.email.$touched && form.email.$invalid)}">
            <div class="col-sm-12">
              <input type="text" placeholder="Email" ng-model="registrationForm.email" required class="form-control" name="email" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

              <div class="tooltip right tooltip-registration tooltip-email" role="tooltip">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">
                  Email address not valid
                </div>
              </div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-success': form.password.$valid, 'has-error': (form.password.$touched && form.password.$invalid)}">
            <div class="col-sm-12">
              <input type="password" placeholder="Password" ng-model="registrationForm.password" required class="form-control" name="password" minlength="5">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <div class="tooltip right tooltip-registration tooltip-password" role="tooltip">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">
                  Password shall be at least 5 characters
                </div>
              </div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-success': form.password_confirmation.$valid, 'has-error': (form.password_confirmation.$touched && form.password_confirmation.$invalid)}">
            <div class="col-sm-12">
              <input type="password" placeholder="Password confirmation" ng-model="registrationForm.password_confirmation" required class="form-control" name="password_confirmation" minlength="5" compare-to="registrationForm.password">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

              <div class="tooltip right tooltip-registration tooltip-password-confirmation" role="tooltip">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">
                   Not the same password as above
                </div>
              </div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-success': form.full_name.$valid, 'has-error': (form.full_name.$touched && form.full_name.$invalid)}">
            <div class="col-sm-12">
              <input type="text" placeholder="Full Name" ng-model="registrationForm.name" required class="form-control" name="full_name" full-name-validation>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <div class="tooltip right tooltip-registration tooltip-name" role="tooltip">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">
                   Please enter both first and last name
                </div>
              </div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-success': form.organization.$valid, 'has-error': (form.organization.$touched && form.organization.$invalid)}">
            <div class="col-sm-12">
              <input type="text" placeholder="Organization" ng-model="registrationForm.organization_attributes.name" required class="form-control" ng-change="organizationToSubdomain()" name="organization">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
          </div>

          <div class="form-group has-feedback subdomain-input" ng-class="{'has-success': availableDomain, 'has-error': !hideSubdomainFeedback()}">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" placeholder="example" ng-model="registrationForm.organization_attributes.subdomain" required class="form-control" ng-blur="subdomainAvailability()">
                <span class="input-group-addon" id="basic-addon2">.rankingdesk.com</span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="availableDomain"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-hide="hideSubdomainFeedback()"></span>
              </div>
              <div ng-hide="hideSubdomainFeedback()">
                That site address is invalid or already in use. <br/>
                Recommended subdomain: <strong>{{recommendedSubdoamin}}</strong>
              </div>
            </div>
          </div>

          <p class="text-center">
            <strong>
              By clicking “Create my trial” you agree to the
              <br/>
              Terms of Service and Privacy Policy.
            </strong>
          </p>

          <div class="form-group">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-lg btn-success">Create my trial</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>