<h1>Payment Method</h1>
<table class="table payment-method-table">
  <thead>
    <tr>
      <th>Card Type</th>
      <th>Card Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <div class="cc" ng-class="subscription.card_type"></div></td>
      <td>{{subscription.card_number}}</td>
      <td><a href="#" class="btn btn-primary">Change</a></td>
    </tr>
  </tbody>
</table>

<h1>Subscription</h1>
<table class="table subscription-table">
  <thead>
    <tr>
      <th>Subscription type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> {{subscription.subscription_kind || uppercase}}</td>
      <td>{{subscription.description}}</td>
      <td><a href="#" class="btn btn-primary">Change</a></td>
    </tr>
  </tbody>
</table>

<h1>Billing Details</h1>
<table class="table table-striped billing-table">
  <thead>
    <tr>
      <th>Billing period</th>
      <th>Payment Due</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> {{subscription.subscription_kind || uppercase}}</td>
      <td>{{subscription.description}}</td>
      <th></th>
      <td><a href="#" class="btn btn-primary">Download as PDF</a></td>
    </tr>
  </tbody>
</table>