<h1>Payment Method</h1>
<table class="table payment-method-table">
  <thead>
    <tr>
      <th>Card Type</th>
      <th>Card Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <div class="cc" ng-class="subscription.card_type"></div></td>
      <td>{{subscription.card_number}}</td>
    </tr>
  </tbody>
</table>

<h1>Subscription</h1>
<table class="table subscription-table">
  <thead>
    <tr>
      <th>Subscription type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> {{subscription.subscription_kind || uppercase}}</td>
      <td>{{subscription.description}}</td>
    </tr>
  </tbody>
</table>

<h1>Billing Details</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <address>
      <strong>{{organization.company_name}}</strong><br>
      {{organization.address.address}}, {{organization.address.address_2}}<br>
      {{organization.address.city}}, {{organization.address.region_code}} {{organization.address.zip_code}}<br>
      {{organization.address.country_code}}<br>
    </address>
  </div>
</div>
