<nav class="navbar navbar-fixed-top navbar-layout">
  <div class="container">

    <button type="button" class="toggle-menu-button btn btn-menu visible-xs-inline-block visible-sm-inline-block" toggle-mobile-menu>
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= image_tag 'logo_color.png'%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img ng-src="{{user.picture_thumb}}">
            {{user.username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-hide="user.role == 'boardlogin'"><a href="/profile">Profile</a></li>
            <li ng-hide="user.role == 'boardlogin'" class="divider"></li>
            <li><a href="#" ng-click='signOut()'>Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <a href="#" class="mobile-profile-link" toggle-profile-menu>
      <img ng-src="{{user.picture_thumb}}" class="profile-pic">
    </a>
  </div>
</nav>


<div class="new-input-container" ng-show="showNewInput">
  <div class="new-input-background"></div>
  <div class="new-input">
    <img src="{{newInput.picture}}">
    <div class="new-input-name">{{newInput.name}}</div>
    <div class="new-input-value">Just made a sale!</div>
  </div>
</div>

<div class="container leaderboard-container">
  <div class="row main-row">
    <div class="teams col-md-2">
      <ul class="teams-list">
        <li class="title">Team</li>
        <li ng-class="{active:selectedTeam==team}" ng-repeat='team in teams'><a href="#" ng-click="selectTeam(team)" toggle-mobile-menu>{{team.name}}</a></li>
        <li ng-show="showTotal()"><a href="#" ng-click="selectTeam(allTeams)">Total Team</a></li>
      </ul>
    </div>

    <div class="main col-md-7">
      <div class="selected-team">
        {{organization.boardname}} - {{selectedTeam.name}}
      </div>

      <div class="leader leader-mobile visible-sm-inline-block visible-xs-inline-block">
        <div class="leader-details">
          <div class="leader-picture"><img ng-src="{{leader.picture}}"></div>
          <div class="leader-name">
            <span>Leader</span>
            <br />
            {{leader.username}}
          </div>
          <span class="leader-alias">{{leader.alias}}</span>
        </div>
        <div class="leader-chart">
          <span>Total Fulfilment</span>
          <canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels" chart-options="options"></canvas>
        </div>
      </div>

      <ul ng-class="ulClass()" class="periods-list">
        <li ng-show="showPeriod('daily')" ng-class="{active:selectedPeriod=='today'}"><a href="#" ng-click="selectPeriod('today')">Today<a/></li>
        <li ng-show="showPeriod('weekly')" ng-class="{active:selectedPeriod=='week'}"><a href="#" ng-click="selectPeriod('week')">Week<a/></li>
        <li ng-show="showPeriod('monthly')" ng-class="{active:selectedPeriod=='month'}"><a href="#" ng-click="selectPeriod('month')">Month<a/></li>
        <li ng-show="showPeriod('quarterly')" ng-class="{active:selectedPeriod=='quarter'}"><a href="#" ng-click="selectPeriod('quarter')">Quarter<a/></li>
        <li ng-show="showPeriod('yearly')" ng-class="{active:selectedPeriod=='year'}"><a href="#" ng-click="selectPeriod('year')">Year<a/></li>
      </ul>

      <div class="table-responsive">
        <table class="table table-striped leaderboard-table">
          <thead>
            <tr>
              <th>Name (alias)</th>
              <th>Target</th>
              <th>Realized</th>
              <th>Difference</th>
              <th>Fulfilment</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="input in inputs">
              <td>{{input.username}}</td>
              <td>{{input.currentTarget | number:2}}</td>
              <td>{{input.realized | number:2}}</td>
              <td>{{input.difference | number:2}}</td>
              <td>{{input.fullfilment | number:2}}%</td>
            </tr>
            <tr>
              <td colspan="5" ng-show="inputs.length < 1">There is no data to show</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="leader col-md-3 hidden-sm hidden-xs">
      <div class="leader-title">Leader</div>
      <div class="leader-details">
        <div class="leader-picture"><img ng-src="{{leader.picture}}"></div>
        <div class="leader-name">{{leader.username}}</div>
        <span class="leader-alias">{{leader.alias}}</span>
        <div class="leader-chart">
          <span>Total Fulfilment</span>
          <canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-3 profile-menu hidden-md hidden-lg">
      <ul class="nav nav-pills nav-stacked">
        <li ng-hide="user.role == 'boardlogin'"><a href="/profile">Profile</a></li>
        <li ng-show="user.role == 'admin'"><a href="/billing">Billing</a></li>
        <li class="divider"></li>
        <li><a href="#" ng-click='signOut()'>Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>