.navbar-app {

  ul.admin-table-header {
    list-style: none;
    margin-top: 15px;

    li {
      color: white;
      border-right: 1px solid white;
      float: left;
      text-align: center;

      &:last-child {
        border: 0;
      }
    }

    &.admin-clients-header {
      li {
        width: 25%;
      }
    }

    &.admin-emails-header {
      li {
        width: 33%;
      }
    }
  }
}

.admin-clients-table {
  td {
    width: 25%;
  }
}

.admin-emails-table {
  td {
    width: 33%;
  }
}

dl.admin-client-details {
  margin: 20px auto;
  width: 360px;
}

.email-template-editor {
  height: 600px;
}