.upload-picture {
  div {
    color: white;
    cursor: pointer;
    margin-top: -40px;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  }

  img {
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    height: 145px;
    width: 145px;
  }
}