form#create-trial-form, form#new-session-form {
  margin: 100px 0 0 0;

  legend {
    border: none;
    margin: 0 0 50px;
  }

  p {
    margin: 40px 0;
  }

  .subdomain-input {
    .form-control-feedback {
       right: 0px;
     }

     .input-group-addon {
       padding-right: 25px;
     }
  }

  .has-feedback {
    .glyphicon.glyphicon-ok {
      display: none;
    }

    .glyphicon.glyphicon-remove {
      display: none;
    }

    &.has-success {
      .glyphicon.glyphicon-ok {
        display: block;
      }

      .glyphicon.glyphicon-remove {
        display: none;
      }
    }

    &.has-error {
      .glyphicon.glyphicon-ok {
        display: none;
      }

      .glyphicon.glyphicon-remove {
        display: block;
      }

      .tooltip-registration {
        opacity: 1;
      }
    }
  }

  .tooltip-registration {
    display: inline-block;
    position: absolute;
    z-index: 1;

    &.tooltip-email {
      right: -135px;
      top: 5px;
    }

    &.tooltip-password {
      right: -190px;
      top: -2px;
    }

    &.tooltip-password-confirmation {
      right: -190px;
      top: -2px;
    }

    &.tooltip-name {
      right: -190px;
      top: -2px;
    }
  }

}