@import '../colors';

.leaderboard-container {
  margin-top: 60px;
  height: 100%;

  .main-row {
    height: 100%;
  }

  .teams {
    background-color: $light-gray;
    padding: 0;
    height: 100%;

    ul.teams-list {
      list-style: none;
      padding: 0;

      li {
        border-bottom: 1px solid $white;
        color: $black-text;
        font-size: 20px;
        height: 70px;
        padding: 0 10px 0 20px;

        &.active {
          background-color: $dark-gray;
          a { color: white; }
        }

        &.title {
          background-color: $green;
          border-bottom: none;
          color: $white;
          font-family: 'Alegreya Sans SC', sans-serif;
          font-size: 24px;
          height: 60px;
          padding: 15px 0;
          text-align: center;

        }
      }
    }
  }

  .main {
    margin-top: 0;
    padding: 0;

    .selected-team {
      background-color: $main-green-blue;
      color: $white;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 30px;
      height: 60px;
      padding: 10px 0;
      text-align: center;
    }

    ul.periods-list {
      list-style: none;
      padding: 0;

      &.periods-1 {
        li {
          width: 100%;
        }
      }

      &.periods-2 {
        li {
          width: 50%;
        }
      }

      &.periods-3 {
        li {
          width: 33.33%;
        }
      }

      &.periods-4 {
        li {
          width: 25%;
        }
      }

      &.periods-5 {
        li {
          width: 20%;
        }
      }

      li {
        background-color: $green;
        border-right: 1px solid $white;
        float: left;
        height: 40px;
        padding: 9px 0;
        text-align: center;

        &.active {
          background-color: $light-gray-2;
          a { color: $black-text; }
        }

        &:last-child {
          border-right: none;
        }

        a {
          color: $white;
        }
      }
    }

    .leaderboard-table {
      th {
        text-align: center;
        background-color: $light-gray-3;
        border-right: 1px solid $dark-gray;
        border-bottom: none;
        font-size: 14px;
        font-weight: normal;
        width: 20%;
        padding: 0;
        border-bottom: 5px solid #f8f8f8;
        border-top: 4px solid #f8f8f8 !important;

        &:last-child {
          border-right: none;
        }
      }

      tbody {
        td {
          height: 50px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }

  .leader {
    padding: 0;
    height: 100%;
    background: $light-gray;

    .leader-title {
      text-align: center;
      background-color: $light-gray-2;
      color: $white;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 40px;
      height: 60px;
    }

    .leader-details {
      padding-top: 20px;

      .leader-picture {
        text-align: center;

        img {
          -moz-border-radius: 75px;
          -webkit-border-radius: 75px;
          border-radius: 75px;
          height: 145px;
          width: 145px;
        }
      }

      .leader-name {
        color: $main-green-blue;
        font-size: 18px;
        text-align: center;
      }

      .leader-chart {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $dark-gray;
        text-align: center;

        span {
          font-size: 18px;
        }
      }
    }
  }
}