@import "colors";

body {
  background-color: $light-gray-background;
  font-family: 'Open Sans', sans-serif;
}

a{
  color: $black-text;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body > div > .container {
  background-color: $white;
  padding: 0;

}

.main {
  background: $white;
  height: 100%;
  margin: 130px 0 0 0;
  padding: 0px 15px 0 0;
}

.sidebar {
  background-color: $light-gray;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 130px;
  width: 20%;
  z-index: 10;


  li {
    border-bottom: 1px solid $white;
    margin: 0 !important;

    &.active {
      background-color: $dark-gray;

      a {
        background-color: transparent;

        &:hover {
          background-color: transparent;
        }
      }
    }

    a {
      padding: 10px 0px 10px 15px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

ul.sub-nav {
  margin: 0;
  padding: 0;

  li {
    background-color: $light-gray-3;
    list-style: none;
    height: 50px;
    padding: 15px 0;

    a {
      color: $main-green-blue;
      font-weight: bold;
    }

    &.active {
      background-color: $white;

      a {
        color: $dark-gray;
        font-weight: normal;
      }
    }
  }
}