@import "colors";

html {
  height: 100%;
}

body {
  background-color: $light-gray-background;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

a{
  color: $black-text;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


.ng-main,
.ng-content {
  height: 100%;
}

.main-container {
  margin-top: 130px;
  height: 100%;

  & > .row {
    height: 100%;
  }
}

.main {
  background: $white;
  height: 100%;
  padding: 0;
}

.sidebar {
  background-color: $light-gray;
  padding: 0;
  height: 100%;


  li {
    border-bottom: 1px solid $white;
    margin: 0 !important;

    &.active {
      background-color: $dark-gray;

      a {
        background-color: transparent;

        &:hover {
          background-color: transparent;
        }
      }
    }

    a {
      padding: 10px 0px 10px 15px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

ul.sub-nav {
  margin: 0;
  padding: 0;

  li {
    background-color: $light-gray-3;
    list-style: none;
    height: 50px;
    padding: 15px 0;

    a {
      color: $main-green-blue;
      font-weight: bold;
    }

    &.active {
      background-color: $white;

      a {
        color: $dark-gray;
        font-weight: normal;
      }
    }
  }
}

.loading-view {
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -269px;
  }
}