@import "../colors";

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: $main-green-blue;
  border-color: $main-green-blue;

  &:hover {
    background-color: darken($main-green-blue, 10%);
    border-color: darken($main-green-blue, 10%);
  }
}

.btn-danger {
  background-color: $red;
  border-color: $red;

  &:hover {
    background-color: darken($red, 10%);
    border-color: darken($red, 10%);
  }
}

.btn-success {
  background-color: $green;
  border-color: $green;

  &:hover {
    background-color: darken($green, 10%);
    border-color: darken($green, 10%);
  }
}

.btn-default {
  color: $white;
  background-color: $light-gray-2;
  border-color: $light-gray-2;

  &:hover {
    color: $white;
    background-color: darken($light-gray-2, 10%);
    border-color: darken($light-gray-2, 10%);
  }
}

.btn-menu {
  color: $main-green-blue;
  background-color: $white;
  border-color: $white;
}