@import "../colors";

form {
  legend {
    color: $main-green-blue;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 48px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  &.with-margin {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .ng-invalid {
    border: 1px solid red;
  }

  .has-feedback {
    .glyphicon.glyphicon-ok {
      display: none;
    }

    .glyphicon.glyphicon-remove {
      display: none;
    }

    &.has-success {
      .glyphicon.glyphicon-ok {
        display: block;
      }

      .glyphicon.glyphicon-remove {
        display: none;
      }
    }

    &.has-error {
      .glyphicon.glyphicon-ok {
        display: none;
      }

      .glyphicon.glyphicon-remove {
        display: block;
      }

      .tooltip-registration {
        opacity: 1;
      }
    }
  }
}