@import "../colors";

.navbar-brand {
  img {
    width: 180px;
  }
}

.navbar-layout {
  background-color: $white;
  border-color: $white;
  height: 60px;
  padding: 5px 0;
  z-index: 1040;

  .nav {
    &.navbar-links {
      padding: 10px 0;

      a {
        margin-left: 65px;
      }
    }
  }
}

.navbar-app {
  background-color: $main-green-blue;
  border-color: $main-green-blue;
  color: $white;
  height: 70px;
  padding: 10px 0;
  top: 60px;

  .btn.btn-success {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    margin-left: -15px;
    padding: 6px 20px;

  }

  .btn.btn-primary {
    border: 1px solid white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 18px;
    padding: 10px 50px;

  }
}