@import "../colors";

@media only screen and (min-device-width: 769px) {
  .mobile-profile-link {
    display: none;
  }
}

@media only screen and (max-device-width: 768px) {

  .navbar-brand {
    padding: 20px 15px;
  }

  .navbar-brand img {
    width: 130px;
  }

  img.profile-pic {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    height: 40px;
    width: 40px;

  }

  .mobile-profile-link {
    margin: 7px 0;
    float: right;
    display: none;
  }

  .sidebar, .teams, .profile-menu {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
  }

  .sidebar, .teams {
    left: 250px;
    margin-left: -250px;
  }

  .profile-menu {
    right: 250px;
    margin-right: -250px;
  }


  .main {
    width: 100%;
    position: absolute;
    padding: 15px;
  }

  .main-row.toggled .main {
    position: absolute;
    margin-right: -250px;
  }

  .main-row.toggled .sidebar, .main-row.toggled .teams {
    width: 80%;
  }

  .main-row.profile-toggled .profile-menu {
    width: 80%;
  }

  .navbar-header {
    display: inline-block;
    float: left;
    margin: 0 auto !important;
  }

  .toggle-menu-button {
    float: left;
    margin: 5px;
    font-size: 22px;
  }

  .nav.navbar-nav.navbar-right {
    text-align: center;
    margin-right: 0;
  }

  .sidebar li a, .profile-menu li a {
    padding: 20px 0px 20px 15px;
    font-size: 20px;
  }

  .navbar-app.records {
    height: 75px;
  }

  .users-container.records {
    margin-top: 165px;
  }

  .leader-mobile {
    width: 100%;
    height: 150px !important;
  }

  .leader-details {
    margin-right: 20px;
    border-right: 1px solid $light-gray-2;
  }

  .leader-mobile .leader-details {
    height: 100%;
    width: 50%;
    float: left;
  }

  .leader-mobile .leader-chart {
    height: 100%;
    width: 47%;
    float: left;
  }

  .leader-mobile .leader-details .leader-picture img {
    width: 80px !important;
    height: 80px !important;
  }

  .leader-mobile .leader-chart {
    height: 120px;
  }

  .leader-mobile .leader-picture, .leader-mobile .leader-name {
    width: 50%;
    float: left;
  }

  .leader-mobile .leader-name {
    text-align: left !important;
  }

  .leader-mobile .leader-name span {
    color: $black-text;
  }

  .leader-chart span {
    margin: 22px 0 5px 0;
    font-size: 18px;
    display: block;
    text-align: center;
  }

  .leader-details > span {
    color: $black-text;
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 0 0 5px 0;
  }

  .chart-container {
    width: 230px;
    height: 130px;
    float: right;
  }

  .leaderboard-container .main ul.periods-list {
    margin-top: -5px;
    margin-bottom: -5px;
  }

  .new-record {
    width: 49% !important;
    display: inline-block;
  }
}

@media only screen and (max-device-width: 767px) {
 .mobile-profile-link {
   display: block;
 }

 .new-record {
   width: 49% !important;
   display: inline-block;
 }

 .navbar-app .btn.btn-primary {
   padding: 10px 20px;
 }

 .navbar-app.records {
   height: 105px;
 }

 .users-container.records {
   margin-top: 165px;
 }

 .navbar-app ul.users-table-header li {
   font-size: 11px;
 }
}

@media only screen and (max-device-width: 480px) {

  .users-container table.users-table td {
    width: 0 !important;
  }

  .main-row.toggled .sidebar {
    width: 250px;
  }

  .prices .pricing {
    margin: 0 0 20px 0 !important;
  }

  form.with-margin {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  ul.teams-list li a {
    padding: 24px 88px;
    display: inline-block;
  }

  .leader-chart span {
    font-size: 16px;
  }

  .leader-chart {
    width: 40% !important;

    .chart-container {
      width: 160px;
    }
  }
}
