@media only screen and (max-device-width: 768px) {

  .navbar-brand {
    padding: 20px 15px;
  }

  .navbar-brand img {
    width: 130px;
  }

  img.profile-pic {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    height: 40px;
    width: 40px;

  }

  .mobile-profile-link {
    margin: 7px 0;
    float: right;
  }

  .sidebar, .teams, .profile-menu {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
  }

  .sidebar, .teams {
    left: 250px;
    margin-left: -250px;
  }

  .profile-menu {
    right: 250px;
    margin-right: -250px;
  }


  .main {
    width: 100%;
    position: absolute;
    padding: 15px;
  }

  .main-row.toggled .main {
    position: absolute;
    margin-right: -250px;
  }

  .main-row.toggled .sidebar, .main-row.toggled .teams {
    width: 80%;
  }

  .main-row.profile-toggled .profile-menu {
    width: 80%;
  }

  .navbar-header {
    display: inline-block;
    float: left;
    margin: 0 auto !important;
  }

  .toggle-menu-button {
    float: left;
    margin: 5px;
    font-size: 22px;
  }

  .nav.navbar-nav.navbar-right {
    text-align: center;
    margin-right: 0;
  }

  .sidebar li a, .profile-menu li a {
    padding: 20px 0px 20px 15px;
    font-size: 20px;
  }

  .navbar-app.records {
    height: 130px;
  }

  .users-container.records {
    margin-top: 220px;
  }
}

@media only screen and (max-device-width: 480px) {
  .main-row.toggled .sidebar {
    width: 250px;
  }
}
