<div class="loading-view" ng-show="showLoading">
  <%= image_tag 'logo_color.png'%>
</div>

<div ng-hide="showLoading" class="ng-content">
  <nav class="navbar navbar-fixed-top navbar-layout">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href=""><%= image_tag 'logo_color.png'%></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img ng-src="{{user.picture_thumb}}">
              {{user.name || user.email}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/profile">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#" ng-click='signOut()'>Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-fixed-top navbar-app">
    <div class="container">
      <div class="nav navbar-nav navbar-left buy-now-container" ng-hide="organization.subscribed">
        <a href="#" class="btn btn-success" ng-click="openBuyModal()">Buy Now!</a>
        <span>{{organization.days_left}} Days left of your free trial</span>
      </div>

      <div class="nav navbar-nav navbar-right">
        <a href="/leaderboard" class="btn btn-primary">Leaderboard</a>
      </div>
    </div>
  </nav>


  <div class="container main-container">

    <div class="row">
      <div class="alert alert-warning alert-dismissible alert-cookie" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        We use cookies to ensure that we give you the best experience on our website. If you continue without changing your settings, we'll assume that you are happy to receive all cookies from this website. If you would like to change your preferences you may do so by following the instructions <a href="http://www.aboutcookies.org/Default.aspx?page=1" target="_blank">here</a>
      </div>
    </div>

    <div class="row main-row">
      <div class="col-md-3 sidebar">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{active:departamentsActive}"><a href="/teams">Teams & Periods</a></li>
          <li ng-class="{active:boardLoginActive}"><a href="/board/login">Board Login Details</a></li>
          <li ng-class="{active:boardSettingsActive}"><a href="/board/settings">Leaderboard Settings</a></li>
          <li ng-class="{active:usersActive}"><a href="/users">Users</a></li>
          <li ng-class="{active:inputsActive}"><a href="/input">Edit Data Input</a></li>
        </ul>
      </div>

      <div class="col-md-9 main">
         <div ng-include='partialUrl'></div>
      </div>
    </div>
  </div>
</div>
