<nav class="navbar navbar-fixed-top navbar-layout">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href=""><%= image_tag 'logo_color.png'%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img ng-src="{{user.picture_thumb}}">
            {{user.name || user.email}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/profile">Profile</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click='signOut()'>Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-fixed-top navbar-app">
  <div class="container">
    <div class="nav navbar-nav navbar-left buy-now-container" ng-hide="organization.subscribed">
      <a href="#" class="btn btn-success">Buy Now!</a>
      <span>{{organization.days_left}} Days left of your free trial</span>
    </div>

    <div class="nav navbar-nav navbar-right">
      <a href="/leaderboard" class="btn btn-primary">Leaderboard</a>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">

    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked sidebar">
        <li ng-class="{active:departamentsActive}"><a href="/teams">Teams & Periods</a></li>
        <li><a href="#">Board Login Details</a></li>
        <li ng-class="{active:boardSettingsActive}"><a href="/boardlogin/settings">Board Login Settings</a></li>
        <li ng-class="{active:usersActive}"><a href="/users">Users</a></li>
        <li ng-class="{active:inputsActive}"><a href="/input">Edit Data Input</a></li>
      </ul>
    </div>

    <div class="col-md-9 col-md-offset-3 main">
       <div ng-include='partialUrl'></div>
    </div>
  </div>
</div>
