$white: #ffffff;
$main-green-blue: #1dbbc3;
$light-gray: #e1e1e1;
$light-gray-background: #ebebeb;
$light-gray-2: #c5c3c3;
$light-gray-3: #f8f8f8;
$dark-gray: #a1a1a1;
$black-text: #383838;
$red: #ff0000;
$green: #8dc63f;