<div class="loading-view" ng-show="showLoading">
  <%= image_tag 'logo_color.png'%>
</div>

<div ng-hide="showLoading" class="ng-content">
  <nav class="navbar navbar-fixed-top navbar-layout">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.rankingdesk.com/" target="_self"><%= image_tag 'logo_color.png'%></a>
      </div>

      <div class="nav navbar-nav navbar-right navbar-links hidden-xs">
        <a href="http://www.rankingdesk.com/#pricing" target="_self">Pricing</a>
        <a href="/signin">Login</a>
        <a href="/signup" class="btn btn-success">Free Trial</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid leaderboard-container">
    <div class="row main-row">

      <div class="alert alert-warning alert-dismissible alert-cookie" role="alert" ng-hide='cookiesMessageViewed'>
        <button type="button" class="close" aria-label="Close" ng-click="markCookiesMessageViewed()"><span aria-hidden="true" >&times;</span></button>
        We use cookies to ensure that we give you the best experience on our website. If you continue without changing your settings, we'll assume that you are happy to receive all cookies from this website. If you would like to change your preferences you may do so by following the instructions <a href="http://www.aboutcookies.org/Default.aspx?page=1" target="_blank">here</a>
      </div>

      <div class="col-sm-4 col-sm-offset-4">

        <form class="form-horizontal" ng-submit="submitLogin(loginForm)" role="form" id="new-session-form">
          <fieldset>
            <legend>Login Form</legend>

            <div class="alert alert-warning animate-show  ng-hide" ng-show="erroOnLogin">
              There was an error when trying to login. Please check your credentials.
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <input type="text" placeholder="Email/username" ng-model="loginForm.email" required  class="form-control" autocapitalize="none">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <input type="password" ng-model="loginForm.password" placeholder="Password" required class="form-control">
              </div>
            </div>

            <div class="form-group" ng-hide="subdomain">
              <div class="col-sm-12">
                <div class="input-group">
                  <input type="text" ng-model="loginForm.subdomain" placeholder="subdomain" ng-required="!subdomain" class="form-control" autocapitalize="none">
                  <span class="input-group-addon" id="basic-addon2">.rankingdesk.com</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <a ng-click="openForgotPassword()" href="#">Forgot your password?</a>
                <br />
                <a ng-click="changeSubdomain()" ng-show="subdomain" href="#">Change subdomain</a>
                <a ng-click="openForgotSubdomain()" ng-hide="subdomain"  href="#">Forgot your subdomain?</a>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-success btn-lg">Login</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <div>
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <h4>Don't have an account? <a href="/signup">Get started</a></h4>
        </div>
      </div>

    </div>
  </div>
</div>